body {
  font-family: "Crimson Text", serif; }

.wrapper {
  overflow: hidden; }

#home {
  background: url("../images/trianglify.png") no-repeat fixed center;
  height: 100vh;
  color: #ffff;
  background-size: cover;
  margin-top: -106px; }

#overlay {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); }

.main-content {
  margin-top: 10%; }

nav ul li {
  margin-left: 1rem; }
  nav ul li a {
    font-size: 10px !important;
    font-family: "Comfortaa", cursive; }
    nav ul li a i {
      font-size: inherit; }

.sidenav {
  background-color: purple !important; }
  .sidenav li a {
    font-size: 14px !important;
    font-family: "Comfortaa", cursive; }
    .sidenav li a i {
      font-size: inherit; }

.ilearn {
  font-family: "Crimson Text", serif; }

.ilearn-detailed {
  font-size: 30px;
  margin-left: 1%; }

.mov-frwd-text {
  font-size: 2.5rem;
  font-family: "Dancing Script", cursive; }

/* label focus color */
.input-field input:focus + label {
  color: #eceff1 !important; }

/* label underline focus color */
.row .input-field input:focus {
  border-bottom: 1px solid #eceff1 !important;
  box-shadow: 0 1px 0 0 #eceff1 !important; }

.input-field label {
  color: #eceff1 !important; }

/* label focus color */
.input-field input[type=text]:focus + label {
  color: #eceff1 !important; }

.login-btn {
  width: 100%; }

.login-content {
  margin-top: 15%; }

.card h2 {
  font-family: "Dancing Script", cursive; }

.headerline-1 {
  height: 5px;
  width: 200px;
  background-color: #fff; }

.headerline-2 {
  margin-top: 5px;
  height: 5px;
  width: 300px;
  background-color: #fff; }

@media screen and (min-width: 320px) and (max-width: 400px) {
  .main-content {
    margin-top: 43%; }

  .ilearn-detailed {
    font-size: 26px !important;
    margin-left: 0px; }

  .fa-graduation-cap {
    margin-top: 14%; }

  .ilearn {
    font-size: 2rem; }

  .mov-frwd-text {
    font-size: 1rem; }

  .headerline-1 {
    height: 2px;
    width: 95px; }

  .headerline-2 {
    height: 2px;
    width: 117px; }

  .login-content h2 {
    font-size: 130%; }

  .login-content {
    margin-top: 44%; }

  .card-row {
    margin-bottom: 0px !important; }
    .card-row .input-field {
      margin-top: 0px !important; }

  .login-btn {
    width: 100%; }

  .signup-para {
    font-size: 12px; } }
@media screen and (min-width: 401px) and (max-width: 500px) {
  .main-content {
    margin-top: 43%; }

  .ilearn-detailed {
    font-size: 26px !important;
    margin-left: 0px; }

  .fa-graduation-cap {
    margin-top: 14%; }

  .ilearn {
    font-size: 2rem; }

  .mov-frwd-text {
    font-size: 1rem; }

  .headerline-1 {
    height: 2px;
    width: 95px; }

  .headerline-2 {
    height: 2px;
    width: 117px; }

  .login-content h2 {
    font-size: 130%; }

  .login-content {
    margin-top: 44%; }

  .card-row {
    margin-bottom: 0px !important; }
    .card-row .input-field {
      margin-top: 0px !important; }

  .login-btn {
    width: 100%; }

  .signup-para {
    font-size: 12px; } }
@media screen and (min-width: 501px) and (max-width: 770px) {
  .main-content {
    margin-top: 26%; }

  .ilearn-detailed {
    font-size: 26px !important;
    margin-left: 0px; }

  .login-content {
    margin-top: 26%; }

  .login-content h2 {
    font-size: 255%; } }
@media screen and (min-width: 771px) and (max-width: 1050px) {
  .main-content {
    margin-top: 43%; }

  .ilearn-detailed {
    font-size: 26px !important;
    margin-left: 0px; }

  .ilearn-detailed {
    margin-left: 1%; } }

/*# sourceMappingURL=style.css.map */
